<h1>New Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
<br>

<%= link_to 'New Task', new_task_path %>

<br>
<%= link_to 'New Developer', new_developer_path %>

